:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}
.modal-win {
	// display: block;
	overflow: hidden;
	max-width: 100%;
	position: relative;
	width: rem(700);
	// min-height: 100%; 
	//padding: 40px;

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.picture-bg{
		border-radius: 15px;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: blur(4px);
		}
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	.form-wrap {
		position: relative;
		z-index: 3;
		// background-color: #fff;
		&__title{
			font-weight: bold;
			font-size: rem(24);
			@include media-breakpoint-up(sm){
				font-size: rem(28);
			}
			line-height: 1.5;
			margin-bottom: 14px;
		}
		&__inputs{
			> *:last-child{
				margin-bottom: 0;
			}
			margin-bottom: rem(30);
			@include media-breakpoint-up(sm){
				margin-bottom: rem(50);
			}
		}
		&__input-wrap{
			margin-bottom: rem(11);
		}
		&__input-title{
			display: block!important;
			margin-bottom: rem(8);

			font-weight: bold;
			font-size: rem(13);
			@include media-breakpoint-up(md){
				font-size: rem(18);
			}
			line-height: 1.7;
		}
		&__input{
			@include media-breakpoint-down(sm) {
				padding: rem(8) rem(12);
				font-size: 13px;
			}

			outline: none!important;
		}
		&__{}

		&__btn-green{
			@extend .btn-default;
		}
	}

	padding: rem(40) rem(20) rem(30) !important;
	@include media-breakpoint-up(md){
		min-height: rem(540);
		padding: rem(70) rem(90) rem(55) !important;
	}
	//@media (min-height: 550px) {
	//	min-height: rem(540);
	//}

}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

.modal-blog {
	background: $warning;
	padding: rem(30);

	ul {
		&:not(.check-list) {
		padding-left: rem(25);
		}
	}
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	font-style: normal;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	line-height: 56px;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

@include media-breakpoint-up(lg) {
	.fancybox__slide {
		padding: rem(50) rem(100);
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}


