mixin modal()
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+pic('modal-bg.jpg')(class="picture-bg")
			+form-wrap
				+e.title.form-data.h3 Ми заощадимо ваш час і безкоштовно передзвонимо Вам
				+e.inputs
					+input("+380 66 00 00 000",'tel','Телефон')(required)
					+input("",'text','Ваше ім’я')(required)
				+e.btnWrap.text-end
					+e.BUTTON.btn-green(type="submit") Чекаю на дзвінок
				//-+policy()
	// #modal-call
	div(id="modal-callBack"  style="display: none" )
		+b.modal-win
			+pic('modal-bg.jpg')(class="picture-bg")
			+form-wrap
				.text-center
					+e.title.form-data.h3 Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут
				+input("Ваше Имя")(required)  
				+e.btnWrap.text-right
					+e.BUTTON.btn.btn(type="submit"  )  Відправити	
				+policy()
	// #modal-callBack

	div(id="modal-thanks"  style="display: none" )
		+b.modal-win
			+pic('modal-bg.jpg')(class="picture-bg")
			+form-wrap
				.text-center
					+e.title.form-data.h3 Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут
				+input("Ваше Имя")(required)  
				+e.btnWrap.text-right
					+e.BUTTON.btn.btn(type="submit")  Готово
				+policy()

	div(id="modal-blog-1"  style="display: none" )
		+b.modal-blog
			h2 Технічне обслуговування
			p Опираючись на&nbsp;практичний досвід роботи, компанія &laquo;Аллюр-Агро&raquo; пропонує сервісне обслуговування мульчерів та&nbsp;ротоваторів.
			p Завдяки щоденному досвіду корчування на&nbsp;полях, наші спеціалісти накопичили знання з&nbsp;ремонту техніки та&nbsp;особливості роботи у&nbsp;важких умовах. Працюючи у&nbsp;всіх регіонах України, весь час поповнюємо багаж знань, випробовуючи техніку на&nbsp;різноманітних ґрунтах та&nbsp;видах рослинності (яблуня, горіх, акація, сосна, терен та&nbsp;багато інших).
			p Додатковий досвід отримали під час введення в&nbsp;експлуатацію мульчувачів у&nbsp;наших клієнтів, агрегатували з&nbsp;різноманітними марками тракторів, з&nbsp;усіма типами коробок передач (Claas, Fendt, John Deere New Holland, Massey Ferguson та&nbsp;ін.).
			p Кожного року, сервісні інженери проходять навчання у&nbsp;представників заводів, підвищують свій рівень кваліфікації, випробують оновленні можливості техніки, адже виробники весь час вдосконалюють мульчувачі.
			p Особливу увагу потребують мульчувачі, що вже були у використанні. Спеціалісти сервісної служби проведуть діагностику, надають кваліфіковану допомогу та консультацію під час введення в експлуатацію таких мульчерів. Всі необхідні запчастини для ремонту мульчерів, ротоваторів в наявності на складі.
			p Таким чином, наша сервісна служба має великий досвід з питань експлуатації техніки, оперативно реагує на ваші запити.
	div(id="modal-blog-2"  style="display: none" )
		+b.modal-blog
			h2 Аренда мульчера
			p Сьогодні, майже кожен аграрій має зарослі ділянки землі, якими не&nbsp;користується по&nbsp;причині заліснення. В&nbsp;пошуках рішення, розліснення своїх ділянок, більшість господарств віддають перевагу корчувати екологічним методом&nbsp;&mdash; мульчувачами.
			p Постає питання. Як&nbsp;краще зробити? Придбати техніку в&nbsp;особистий парк чи&nbsp;скористатись орендою мульчувача? Спробуємо розібратись, що&nbsp;краще обрати.
			p Оренда мульчувача вигідна за&nbsp;умови, коли:
			ul
				li ділянка землі під корчування менше ніж 40 Га;
				li в парку відсутній трактор, потужністю від 300 к.с.;
				li недостатньо коштів для придбання мульчера;
				li замовити оренду мульчувача, щоб особисто протестувати техніку перед придбанням.
			p Проте, якщо ви&nbsp;маєте велику ділянку землі, бажаєте заощадити гроші та&nbsp;забезпечити роботою механізаторів у&nbsp;періоди простою&nbsp;&mdash; обирайте мульчери PICURSA. Корчуйте самостійно, в&nbsp;особистому графіку, не&nbsp;переплачуючи за&nbsp;оренду техніки.
			p Якість техніки перевищує номінальну вартість.
			ul.check-list
				li Економне споживання дизпалива.
				li Адаптована до українських ґрунтів.
				li Продуктивність техніки від 5&nbsp;га за&nbsp;добу.
				li Непримхлива в обслуговуванні, запчастини в наявності на складі.
				li Максимально надійна та невибаглива до умов роботи.
				li Зазначимо, придбавши ліcний мульчувач Fighter чи&nbsp;ротоватор Hammer-S, в&nbsp;подальшому маєте змогу надавати послуги оренди мульчувача особисто, наприклад, сусіднім господарствам, невеличким будівничим компаніям тощо.
				li Залишились питання&nbsp;&mdash; звертайтесь до&nbsp;наших менеджерів в&nbsp;контактах. Відвідайте демонстрацію роботи мульчувачів Picursa. Тільки після відвідування демо-показу, переконавшись особисто в&nbsp;результаті роботи техніки, можна прийняти вірне рішення.
			.text-center
				strong Запевняємо - техніка Picursa, варта вашої уваги!
	// #modal-thanks
	// end modals