mixin sOpenBag(data)
	// start sOpenBag
	+b.SECTION.sOpenBag.section#sOpenBag&attributes(attributes)
		.container
			+b.section-title
				h1 Розтарювач OpenBag
			+e.row.row
				+e.col--left.col-lg
					p
						| Компанія Allur-Agro&nbsp;&mdash; офіційний дилер KingKong-Tools.
						br
						| Пропонуємо молотки (зубці, різці, ножі) для різних моделей відомих виробників лісових мульчерів, подрібнювачів пнів, подрібнювачів деревини, подрібнювачів каміння, а&nbsp;також бурових головок, дорожніх фрез, траншеєкопачів і&nbsp;сільськогосподарських машин для обробки грунту. Виробник швидко обробляє замовлення, готовий відправити деталі в&nbsp;день замовлення.
					p
						| Для збільшення швидкості проведення сільськогосподарських робіт не&nbsp;обов&rsquo;язково купувати додаткові одиниці техніки. Слід лише налагодити ефективну доставку посівного матеріалу і&nbsp;добрив, а&nbsp;також швидке завантаження ваших сівалок.
				+e.col--right.col-lg-auto
					+e.video-img(href="https://www.youtube.com/watch?v=cRs43LKAios&list=PLBSdPE852lAQRZILHAI6C9RBaeKHp4P6X&index=129" data-fancybox="sOpenBagVideo")
						img(loading="lazy" src="img/@2x/sOpenBag-video.png" alt="")
			+e.cert-row.row
				.col-lg-4.order-last.order-lg-0
					+e.cert-img(href="img/@2x/sOpenBag-cert.png" data-fancybox="galery")
						img(loading="#" src="img/@2x/sOpenBag-cert.png" alt="")
				.col-lg-8
					+e.content
						h4 Переваги роботи з OpenBag™
						ul
							li Економія коштів за&nbsp;рахунок відсутності просипання під час завантаження сівалки.
							li Підвищення продуктивності техніки завдяки збільшенню швидкості завантаження.
							li Зручність, простота і&nbsp;безпека використання.
							li Можливість подальшого використання біг-бегів завдяки мінімізації їх&nbsp;пошкодження.
							li Управління потоком вмісту біг-бегу, для роботи достатньо одної людини.
			+e.img-row.row
				.col-lg-7
					// U can remove .sOpenBag__content--alt for pixel perfect only
					+e.content--alt
						h4 Розтарювач біг-бегів або шнек?
						p Переваги розтарювача OpenBag перед звичайним шнеком для завантаження сівалок.
						ul
							li У&nbsp;4&nbsp;рази вище швидкість завантаження сівалки.
							li Збільшення продуктивності сівалки на&nbsp;75&nbsp;Га за&nbsp;посівну.
							li Не&nbsp;порушується цілісність посівного матеріалу та&nbsp;добрив.
							li За&nbsp;рахунок посіву в&nbsp;агрономічні терміни збільшення врожайності на&nbsp;15&ndash;20%.
				.col-lg-5
					+e.img
						img(loading="#" src="img/@2x/sOpenBag-img.jpg" alt="")
	// end sOpenBag