// start .sAdvantages
.sAdvantages {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;

	&__item {
		height: calc(100% - #{rem(30)});
		margin-bottom: rem(30);
		background: #FFFFFF;
		box-shadow: 8px 8px 20px rgba(112, 96, 88, 0.5);
		border-radius: rem(10px);
		padding: rem(35) rem(15);
		min-height: rem(223);
		font-size: rem(15);
		@include mt;

		@include media-breakpoint-down(sm) {
			max-width: rem(255);
			margin-left: auto;
			margin-right: auto;
		}

		&:hover {
			box-shadow: 30px 30px 60px rgba(112, 96, 88, 0.5);
		}
	}


	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAdvantages