:root {
	--animate-delay: 1.2s;
	--bs-body-font-size: #{$em-base};

	--header-height: #{rem(113)};
	--h1-font-size: #{rem(45)};
	@include media-breakpoint-up(lg) {
		--header-height: #{rem(123)};
		--h1-font-size: #{rem(45)};
	}
	@include media-breakpoint-up(lg) {
		--header-height: #{rem(131)};
		--h1-font-size: $h1-font-size;
	}

	--sPT: #{rem(40 * .5)};
	--sPB: #{rem(40 * .5)};
	--sTPB: #{rem(40 * .5)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
		--sTPB: #{rem(40)};
	}


	--swiperArrowSize: #{rem(68)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;


	--fancybox-bg: rgba(24, 24, 27, .77);
}