@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-close {
	font-size:math.div(500,10)*1rem;
	width: math.div(343.75,500)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-mail {
	font-size:math.div(65,10)*1rem;
	width: math.div(65,65)*1em;
}
.icon-numIcon-1 {
	font-size:math.div(75,10)*1rem;
	width: math.div(75,75)*1em;
}
.icon-numIcon-2 {
	font-size:math.div(75,10)*1rem;
	width: math.div(75,75)*1em;
}
.icon-numIcon-3 {
	font-size:math.div(75,10)*1rem;
	width: math.div(75,75)*1em;
}
.icon-numIcon-4 {
	font-size:math.div(75,10)*1rem;
	width: math.div(75,75)*1em;
}
.icon-phone {
	font-size:math.div(18,10)*1rem;
	width: math.div(14,18)*1em;
}
.icon-plus {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-search {
	font-size:math.div(15,10)*1rem;
	width: math.div(15,15)*1em;
}
.icon-service-1 {
	font-size:math.div(50,10)*1rem;
	width: math.div(50,50)*1em;
}
.icon-service-2 {
	font-size:math.div(50,10)*1rem;
	width: math.div(50,50)*1em;
}
.icon-tel {
	font-size:math.div(65,10)*1rem;
	width: math.div(65,65)*1em;
}
.icon-telegram {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-youtube {
	font-size:math.div(36,10)*1rem;
	width: math.div(50,36)*1em;
}
