mixin sServ(data)
	// start sServ
	+b.SECTION.sServ.section#sServ&attributes(attributes)
		//-.tabs
		.container
			+e.top-box
				+b.section-title
					h2 Послуги корчування
					p Ми&nbsp;надаємо послуги розліснення по&nbsp;всій території України. Корчування занедбаних полів, плодових садків та&nbsp;інших земельних ділянок виконується для рекультивації сільськогосподарських земель.
					p Для замовлення послуг звертайтесь за&nbsp;телефоном або просто напишіть нам в&nbsp;чат, залишивши свої контакти.
					p Платите оренду за&nbsp;поросле поле або сад? Шукаєте варіанти рекультивації? Спочатку необхідно визначитись, який потрібен результат.
				+e.caption-row.row
					+sServTabsBtn('Розліснення поверхневим мульчувачем', data.activeTab === 1 ? 'active': '')(href="#")
					+sServTabsBtn(`Робота мульчера ротоватора`, data.activeTab === 2 ? 'active': '')(href="#")
					+sServTabsBtn('Комплексне корчування', data.activeTab === 3 ? 'active': '')(href="#")
			//-.tabs__wrap
			+e.t-wrap
				if block
					block
				else
					+sServContent([1,2,3])
						+e.descr
							p Це&nbsp;найбільш швидкий та&nbsp;заощадливий засіб очищення земельної ділянки від порослі, деревини. Має ряд переваг в&nbsp;порівнянні з&nbsp;корчуванням екскаватором, бульдозером, викорчовувачем дерев (крокодил).
						+b.faq-bl.dd-group-js
							+faqItem('Де застосовується?')
								p Звичайно застосовується для поверхневого розчищення великих ділянок землі: сільськогосподарських земель, садів, лісосмуг, узбіч доріг, очищення трас ЛЕП, газо&nbsp;&mdash; та&nbsp;нафтопроводів. Розліснення швидко та&nbsp;якісно підготовить територію для укладення бетону під будівництво та&nbsp;багато іншого.
							+faqItem('Якою технікою працюємо?')
								p В&nbsp;роботі використовуємо лісний мульчер Fighter 2600, від іспанської компанії Picursa. Топова професійна модель. Працює з&nbsp;будь-яким залісненням, не&nbsp;має обмежень в&nbsp;роботі. Подрібнює гілки, дерева та&nbsp;пні (до&nbsp;40&nbsp;см в&nbsp;діаметрі), прибирає чагарники та&nbsp;поросль. Результат&nbsp;&mdash; чисте поле.
							+faqItem('Яка продуктивність?')
								p Продуктивність від 2&ndash;5 гектар за&nbsp;зміну. Залежить від типу щільності порослі та&nbsp;товщини деревини. Бригада висококваліфікованих механізаторів. працює в&nbsp;режимі 24/7.
							+faqItem('Які витрати палива?')
								p Трактор в&nbsp;роботі з&nbsp;мульчерами Picursa показує економне споживання дизельного палива. При середньому залісненні, до&nbsp;200&nbsp;л на&nbsp;один гектар, на&nbsp;відміну від аналогічних моделей, де&nbsp;витрати перевищують за&nbsp;400&nbsp;л. Техніку заправляє замовник.
							+faqItem('Який результат роботи?')
								p В&nbsp;результаті роботи поверхневого мульчера, отримуємо розчищену ділянку землі, з&nbsp;щепою (мульчею) на&nbsp;поверхні. При використанні землі для сільхозпризначень рекомендуємо наступним етапом обробляти ґрунт мульчером-ротоватром Hammer-S.

	// end sServ

mixin sServ2(data)
	// start sServ
	+b.SECTION.sServ.section#sServ&attributes(attributes)
		//-.tabs
		.container
			+e.top-box
				+b.section-title
					h2 Сервісне обслуговування
					p Наша місія&nbsp;&mdash; максимально продовжити термін служби техніки.
					p Мульчувачі&nbsp;&mdash; складні технологічні пристрої, які постійно працюють під великим навантаженням та&nbsp;потребують якісного сервісного обслуговування.
			//-.tabs__wrap
			+e.t-wrap
			+sServContent([10,11,12])
				+e.descr
					p Це&nbsp;найбільш швидкий та&nbsp;заощадливий засіб очищення земельної ділянки від порослі, деревини. Має ряд переваг в&nbsp;порівнянні з&nbsp;корчуванням екскаватором, бульдозером, викорчовувачем дерев (крокодил).
				+b.faq-bl.dd-group-js
					+faqItem('Чому сервісне обслуговування у нас?')
						p Фахівці сервісної служби мають багаторічний досвід обслуговування мульчувачів і&nbsp;постійно розвиваються та&nbsp;навчаються у&nbsp;представників заводу Picursa (Іспанія) та&nbsp;Valentini (Італія). Сервісна служба укомплектована спец автомобілем з&nbsp;усім необхідним обладнання. Обслуговує в&nbsp;будь-який регіон України.
					+faqItem('Як довго чекати запчастини?')
						p Запчастини на&nbsp;топові моделі Hammer-S, Fighter та&nbsp;Tekken завжди в&nbsp;наявності на&nbsp;складі в&nbsp;м. Олександрії. Строк постачання запчастин під замовлення, до&nbsp;2&nbsp;тижнів.
					+faqItem('Вирішили придбати мульчер б/у? ')
						p Важливо! Якщо ви&nbsp;вирішили купити мульчер б/у, обов&rsquo;язково проведіть діагностику до&nbsp;послуг. Потрібно замінити мастильні матеріали та&nbsp;встановити нові різці. Телефонуйте нам, ми&nbsp;знаємо особливості роботи кожної відомої моделі мульчувача.
					+faqItem('Основні причини несправності у мульчувача?')
						p Часто причиною поломки мульчера є&nbsp;неякісні або неправильно підібрані комплектуючі. Замінивши на&nbsp;мульчувачі ремені, підшипники, сальники або мастильні матеріали на&nbsp;преміальні бренди, можете не&nbsp;отримати належної надійності. Чому? Тому що&nbsp;треба враховувати умови експлуатації: температурні режими, вібраційні властивості і&nbsp;характеристики навантажень.
						p Краще довірити цю&nbsp;роботу нашому сервісному центру, а&nbsp;саме фахівцям з&nbsp;досвідом проведення таких робіт.

	// end sServ

mixin sServContent(imgArr=[1,2,3])
	//-.tabs__content
	+e.t-contetn
		+e.c-row.row
			.col-lg-6
				block
			.col-lg-6.order-lg-first
				+e.slider-wrap
					.swiper.sServ-slider-js
						.swiper-wrapper
							-for(let i of imgArr)
								+sServSlide(i)
						.swiper-pagination

mixin faqItem(headTxt)
	+e.item
		+e.head.dd-head-js
			.row.flex-nowrap.align-items-center
				+e.txt.col=headTxt
				.col-auto
					+e.btn
		+e.content.dd-content-js
			block

mixin sServSlide(imgNum)
	.swiper-slide
		+e.img-box
			img(loading="lazy" src=`img/@2x/sServ-${imgNum}.jpg` alt="")

mixin sServTabsBtn(txt, activeClass='')
	+e.c-col.col-4
		//-.tabs__btn
		//-href="#"
		+e.tabs-btn(class=activeClass)!=txt