mixin sServ(data)
	// start sServ
	+b.SECTION.sServ.section#sServ&attributes(attributes)
		.container.tabs
			+e.top-box
				+b.section-title
					h2 Послуги корчування
					p Ми&nbsp;надаємо послуги розліснення по&nbsp;всій території України. Корчування занедбаних полів, плодових садків та&nbsp;інших земельних ділянок виконується для рекультивації сільськогосподарських земель.
					p Для замовлення послуг звертайтесь за&nbsp;телефоном або просто напишіть нам в&nbsp;чат, залишивши свої контакти.
					p Платите оренду за&nbsp;поросле поле або сад? Шукаєте варіанти рекультивації? Спочатку необхідно визначитись, який потрібен результат.
				+e.caption-row.row
					+sServTabsBtn('Розліснення поверхневим мульчувачем', 'active')
					+sServTabsBtn(`Робота мульчера ротоватора`)
					+sServTabsBtn('Комплексне корчування')
			+e.t-wrap.tabs__wrap
				+sServContent([1,2,3], 'active')
					+e.descr
						p Це&nbsp;найбільш швидкий та&nbsp;заощадливий засіб очищення земельної ділянки від порослі, деревини. Має ряд переваг в&nbsp;порівнянні з&nbsp;корчуванням екскаватором, бульдозером, викорчовувачем дерев (крокодил).
					+b.faq-bl.dd-group-js
						+faqItem('Де застосовується?')
							p Звичайно застосовується для поверхневого розчищення великих ділянок землі: сільськогосподарських земель, садів, лісосмуг, узбіч доріг, очищення трас ЛЕП, газо&nbsp;&mdash; та&nbsp;нафтопроводів. Розліснення швидко та&nbsp;якісно підготовить територію для укладення бетону під будівництво та&nbsp;багато іншого.
						+faqItem('Якою технікою працюємо?')
							p В&nbsp;роботі використовуємо лісний мульчер Fighter 2600, від іспанської компанії Picursa. Топова професійна модель. Працює з&nbsp;будь-яким залісненням, не&nbsp;має обмежень в&nbsp;роботі. Подрібнює гілки, дерева та&nbsp;пні (до&nbsp;40&nbsp;см в&nbsp;діаметрі), прибирає чагарники та&nbsp;поросль. Результат&nbsp;&mdash; чисте поле.
						+faqItem('Яка продуктивність?')
							p Продуктивність від 2&ndash;5 гектар за&nbsp;зміну. Залежить від типу щільності порослі та&nbsp;товщини деревини. Бригада висококваліфікованих механізаторів. працює в&nbsp;режимі 24/7.
						+faqItem('Які витрати палива?')
							p Трактор в&nbsp;роботі з&nbsp;мульчерами Picursa показує економне споживання дизельного палива. При середньому залісненні, до&nbsp;200&nbsp;л на&nbsp;один гектар, на&nbsp;відміну від аналогічних моделей, де&nbsp;витрати перевищують за&nbsp;400&nbsp;л. Техніку заправляє замовник.
						+faqItem('Який результат роботи?')
							p В&nbsp;результаті роботи поверхневого мульчера, отримуємо розчищену ділянку землі, з&nbsp;щепою (мульчею) на&nbsp;поверхні. При використанні землі для сільхозпризначень рекомендуємо наступним етапом обробляти ґрунт мульчером-ротоватром Hammer-S.
				+sServContent([4, 5, 6])
					+e.descr
						p Ротоватор&nbsp;&mdash; це&nbsp;техніка, що&nbsp;призначена для подрібнення деревини, пнів і&nbsp;корневої системи безпосередньо під рівнем ґрунту землі. Працює тільки із&nbsp;заглиблення в&nbsp;ґрунт до&nbsp;40&nbsp;см. Ротоватор не&nbsp;варто плутати з&nbsp;мульчувачем, який може працювати тільки на&nbsp;поверхні землі.
					+b.faq-bl.dd-group-js
						+faqItem('В яких випадках використовується?')
							p Ротоватор доцільно використовувати в&nbsp;двох випадках. Коли у&nbsp;вас земля цілина, тобто не&nbsp;має дерев та&nbsp;кустарної порослі. Другий, після попередньої обробки поверхневим (лісним) мульчувачем.
						+faqItem('Якою технікою працюємо?')
							p В&nbsp;роботі використовуємо мульчер-ротоватор Hammer-S Picursa. Пропонуємо для продажу та&nbsp;особистого використання аграріям. Техніка працює із&nbsp;заглибленням в&nbsp;ґрунт до&nbsp;40&nbsp;см. Подрібнює пні, кореневища порослі та&nbsp;дерев, перетворюючи на&nbsp;мульчу, та&nbsp;водночас перемішує її&nbsp;з&nbsp;ґрунтом.
						+faqItem('Продуктивність ротоватора?')
							p Продуктивність ротоватора Hammer-S від3&nbsp;гектарів за&nbsp;зміну. Працюємо особистим трактором. Бригада висококваліфікованих механізаторів працює в&nbsp;режимі 24/7.
						+faqItem('Чи можна корчувати одним ротоватором?')
							p Ні, ще&nbsp;раз&nbsp;ні! Дві причини. По-перше, у&nbsp;ротоватора швидкість обертання ротора 500&nbsp;об/хв цієї швидкості недостатньо для того, щоб перебити поросль і&nbsp;чагарники. У&nbsp;лісного мульчувача&nbsp;&mdash; 2000&nbsp;об/хв. По-друге, особоливості форма зуба. У&nbsp;ротоватора розроблені спеціально для подрібнення кореневища та&nbsp;каміння під рівнем землі: зубці довгі, пласкі, мають інший &laquo;кут атаки&raquo;, ніж у&nbsp;лісного мульчувача.
						+faqItem('Чи потрібна додаткова обробка ґрунту після ротоватора?')
							p В&nbsp;результаті роботи ротоватора, ґрунт стає пухким, мульча перемішується із&nbsp;землею на&nbsp;глибину від 25&nbsp;до&nbsp;40&nbsp;см. Додаткової обробки земля не&nbsp;потребує, можна сіяти сільськогосподарську культуру.
				+sServContent([7, 8, 9])
					+e.descr
						p Якщо у&nbsp;вас заросші сільськогосподарські землі, то&nbsp;швидким та&nbsp;якісними вирішенням по&nbsp;підготовці грунту до&nbsp;посіву є&nbsp;комплексне корчування
					+b.faq-bl.dd-group-js
						+faqItem('Переваги комплексного корчування')
							p Найбільш продуктивний метод корчування. Працюємо одночасно двома одиницями техніки: мульчувачем та&nbsp;ротоватором. Перший етап: мульчер Fighter 2600 подрібнює поросль, кустарну рослинність, пні і&nbsp;дерева діаметром до&nbsp;50&nbsp;см. За&nbsp;ним проходить мульчер-ротоватор Hammer-S працює в&nbsp;глибину від 20&nbsp;до&nbsp;40&nbsp;см подрібнюючи коріння порослі. Земля готова до&nbsp;посіву.
						+faqItem('Яка продуктивність роботи комплексного корчування?')
							p Продуктивність комплексного корчування від 3&ndash;5&nbsp;гектарів. Залежить від щільності рослинності, товщини та&nbsp;типу дерев, і&nbsp;на&nbsp;яку глибину працює техніка. Працює бригада висококваліфікованих механізаторів, в&nbsp;режимі 24/7.
						+faqItem('Куди поділась деревина?')
							p Поверхневий мульчувач перебиває деревину, залишаючи на&nbsp;поверхні прошарок дрібної тріски (мульчі). Ротоватор заглиблюється в&nbsp;ґрунт, одночасно подрібнює кореневу систему та&nbsp;перемішує природну мульчу з&nbsp;ґрунтом, формуючи новий шар здобрений органічною масою.
						+faqItem('Які витрати палива?')
							p Головна перевага мульувачів Picursa&nbsp;&mdash; економне споживання дизельного палива, до&nbsp;400&nbsp;л на 1&nbsp;гектар, в&nbsp;порівнянні з&nbsp;аналогічними моделями, де&nbsp;споживання палива сягає 800&ndash;1000&nbsp;л
						+faqItem('Яка вартість послуги?')
							p Вартість послуги залежить від обсягу та&nbsp;складності робіт. Звертайтесь до&nbsp;наших фахівців, щоб попередньо прорахувати вартість виконання вашої задачі.

	// end sServ

mixin sServContent(imgArr=[1,2,3], addClasses='')
	+e.t-contetn.tabs__content(class=addClasses)
		+e.c-row.row
			.col-lg-6
				block
			.col-lg-6.order-lg-first
				+e.slider-wrap
					.swiper.sServ-slider-js
						.swiper-wrapper
							-for(let i of imgArr)
								+sServSlide(i)
						.swiper-pagination

mixin faqItem(headTxt)
	+e.item
		+e.head.dd-head-js
			.row.flex-nowrap.align-items-center
				+e.txt.col=headTxt
				.col-auto
					+e.btn
		+e.content.dd-content-js
			block

mixin sServSlide(imgNum)
	.swiper-slide
		+e.img-box
			img(loading="lazy" src=`img/@2x/sServ-${imgNum}.jpg` alt="")

mixin sServTabsBtn(txt, activeClass='')
	+e.c-col.col-4
		+e.tabs-btn.tabs__btn(class=activeClass)!=txt