mixin sServ(data)
	// start sServ
	+b.SECTION.sServ.section#sServ&attributes(attributes)
		.container.tabs
			+e.top-box
				+b.section-title
					h2 Послуги корчування
					p Ми&nbsp;надаємо послуги розліснення по&nbsp;всій території України. Корчування занедбаних полів, плодових садків та&nbsp;інших земельних ділянок виконується для рекультивації сільськогосподарських земель.
					p Для замовлення послуг звертайтесь за&nbsp;телефоном або просто напишіть нам в&nbsp;чат, залишивши свої контакти.
					p Платите оренду за&nbsp;поросле поле або сад? Шукаєте варіанти рекультивації? Спочатку необхідно визначитись, який потрібен результат.
				+e.caption-row.row
					+sServTabsBtn('Розліснення поверхневим мульчувачем', 'active')
					+sServTabsBtn(`Робота мульчера&#8209;ротоватора`)
					+sServTabsBtn('Комплексне корчування')
			+e.t-wrap.tabs__wrap
				+sServContent([1,2,3], 'active')
					+e.descr
						p Це&nbsp;найбільш швидкий та&nbsp;заощадливий засіб очищення земельної ділянки від порослі, деревини. Має ряд переваг в&nbsp;порівнянні з&nbsp;корчуванням екскаватором, бульдозером, викорчовувачем дерев (крокодил).
					+b.faq-bl
						+faqItem('Де застосовується?')
							p Звичайно застосовується для поверхневого розчищення великих ділянок землі: сільськогосподарських земель, садів, лісосмуг, узбіч доріг, очищення трас ЛЕП, газо&nbsp;&mdash; та&nbsp;нафтопроводів. Розліснення швидко та&nbsp;якісно підготовить територію для укладення бетону під будівництво та&nbsp;багато іншого.
						+faqItem('Якою технікою працюємо?')
							p В&nbsp;роботі використовуємо лісний мульчер Fighter 2600, від іспанської компанії Picursa. Топова професійна модель. Працює з&nbsp;будь-яким залісненням, не&nbsp;має обмежень в&nbsp;роботі. Подрібнює гілки, дерева та&nbsp;пні (до&nbsp;40&nbsp;см в&nbsp;діаметрі), прибирає чагарники та&nbsp;поросль. Результат&nbsp;&mdash; чисте поле.
						+faqItem('Яка продуктивність?')
							p Продуктивність від 2&ndash;5 гектар за&nbsp;зміну. Залежить від типу щільності порослі та&nbsp;товщини деревини. Бригада висококваліфікованих механізаторів. працює в&nbsp;режимі 24/7.
						+faqItem('Які витрати палива?')
							p Трактор в&nbsp;роботі з&nbsp;мульчерами Picursa показує економне споживання дизельного палива. При середньому залісненні, до&nbsp;200&nbsp;л на&nbsp;один гектар, на&nbsp;відміну від аналогічних моделей, де&nbsp;витрати перевищують за&nbsp;400&nbsp;л. Техніку заправляє замовник.
						+faqItem('Який результат роботи?')
							p В&nbsp;результаті роботи поверхневого мульчера, отримуємо розчищену ділянку землі, з&nbsp;щепою (мульчею) на&nbsp;поверхні. При використанні землі для сільхозпризначень рекомендуємо наступним етапом обробляти ґрунт мульчером-ротоватром Hammer-S.
				+sServContent([1, 2, 3])
					| 2
				+sServContent([1, 2, 3])
					| 3
	// end sServ

mixin sServContent(imgArr=[1,2,3], addClasses='')
	+e.t-contetn.tabs__content(class=addClasses)
		+e.c-row.row
			.col-lg-6
				block
			.col-lg-6.order-lg-first
				+e.slider-wrap
					.swiper.sServ-slider-js
						.swiper-wrapper
							-for(let i of imgArr)
								+sServSlide(i)
						.swiper-pagination

mixin faqItem(headTxt)
	+e.item
		+e.head=headTxt
		+e.content
			block

mixin sServSlide(imgNum)
	.swiper-slide
		+e.img-box
			img(loading="lazy" src=`img/@2x/sServ-${imgNum}.jpg` alt="")

mixin sServTabsBtn(txt, activeClass='')
	+e.c-col.col-4
		+e.tabs-btn.tabs__btn(class=activeClass)!=txt