mixin sProdCard(data)
	// start sProdCard
	+b.SECTION.sProdCard.section#sProdCard&attributes(attributes)
		.container
			+b.section-title
				h1 KingKong-Tools
			//-.sProdCard__row
			+e.row.row
				.col-md-4.col-lg-5
					+e.slider-wrap
						.swiper.sProdCard-slider-js
							.swiper-wrapper
								-for(var i = 1; i <= 5; i++)
									+sProdCardSlide(i)
							.swiper-pagination
				+e.txt-col.col-md-8.col-lg-7
					p.mb-0.mb-lg-30
						| KingKong-Tools&nbsp;&mdash; німецький виробник зносостійких молотків та&nbsp;зубців для мульчувачів, дорожніх фрез та&nbsp;різноманітної спецтехніки. Деталі використовуються по&nbsp;всьому світу
						br
						| і&nbsp;в&nbsp;найсуворіших умовах. Вони мульчують в&nbsp;Канаді і&nbsp;США, допомагають підтримувати дороги в&nbsp;Швеції або Австрії, виконують свої повсякденні обов&rsquo;язки на&nbsp;сотнях спецмашин в&nbsp;Німеччині. А&nbsp;з&nbsp;2020 року працюють на&nbsp;мульчувачах та&nbsp;ротоваторах на&nbsp;території України.
					p.d-none.d-lg-block
						| Компанія Allur-Agro&nbsp;&mdash; офіційний дилер KingKong-Tools.
						br
						| Пропонуємо молотки (зубці, різці, ножі) для різних моделей відомих виробників лісових мульчерів, подрібнювачів пнів, подрібнювачів деревини, подрібнювачів каміння, а&nbsp;також бурових головок, дорожніх фрез, траншеєкопачів і&nbsp;сільськогосподарських машин для обробки грунту. Виробник швидко обробляє замовлення, готовий відправити деталі в&nbsp;день замовлення.
			+e.descr
				p.d-lg-none
					| Компанія Allur-Agro&nbsp;&mdash; офіційний дилер KingKong-Tools.
					br
					| Пропонуємо молотки (зубці, різці, ножі) для різних моделей відомих виробників лісових мульчерів, подрібнювачів пнів, подрібнювачів деревини, подрібнювачів каміння, а&nbsp;також бурових головок, дорожніх фрез, траншеєкопачів і&nbsp;сільськогосподарських машин для обробки грунту. Виробник швидко обробляє замовлення, готовий відправити деталі в&nbsp;день замовлення.
				p
					| В&nbsp;нашому інтернет-магазині підбирайте запчастини для: Picursa, Valentini, TMC&nbsp;Cancela, Ventura, Meri Crusher, Seppi M, AHWI, FAE, дорожня фреза.
					|
					span.d-none.d-lg-inline Крім вищеперерахованого, у&nbsp;нас ви&nbsp;знайдете деталі для каменедробарок, бурових головок, дорожніх і&nbsp;траншейних фрез і&nbsp;сільськогосподарських ґрунтообробних машин.
				p Максимальну продуктивність роботи лісового мульчувача, подрібнювача деревини, дробарки та&nbsp;тунельної головки досягається завдяки запатентованим технологіям King Grit&trade; та&nbsp;King Shield&trade;.
			+e.tabs.tabs
				+e.caption-row.row
					+sServTabsBtn('Технологія King Grit™', 'tabs__btn active')
					+sServTabsBtn(`Технологія King Shield™`, 'tabs__btn')
					+sServTabsBtn('Технология PLA', 'tabs__btn')
				+e.t-wrap.tabs__wrap
					+sProdCardTabContent(1, 'active')
						p Технологія King Grit&trade; заснована на&nbsp;зварювальному процесі MIG (металевий інертний газ), при якому між плавкою та&nbsp;зварювальним стрижнем в&nbsp;атмосфері інертного газу при надзвичайно високих температурах згорає електрична дуга. Комп&rsquo;ютерне керування подачею твердосплавної стружки в&nbsp;зону зварювання створює грубозернисту поверхню з&nbsp;твердосплавними стружками, рівномірно розподіленими по&nbsp;шару King Grit&trade;.
						p Інструменти, захищені King Grit &trade;, демонструють дуже високу зносостійкість, надзвичайну стійкість до&nbsp;ударів та&nbsp;неперевершену ріжучу здатність і&nbsp;використовуються в&nbsp;найсуворіших умовах різання.
					+sProdCardTabContent(2)
						p King Shield&trade; чудово захищає твердосплавний наконечник від стирання. Круглі наконечники хвостовиків, що&nbsp;працюють в&nbsp;абразивній породі, зазнають величезного зносу вздовж сталевого корпусу ріжучих голівок.
						p Тут електрод МІГ складається із&nbsp;спеціального сплаву з&nbsp;вкладеними мікроскопічними частинками карбіду вольфраму. Екстремальні температури створюють шар плазмового зварювання з&nbsp;гладкою та&nbsp;надзвичайно твердою поверхнею. Він протистоїть величезній абразивності мінералів, що&nbsp;містять кварц, демонструючи високу стійкість до&nbsp;ударних навантажень.
					+sProdCardTabContent(3)
						p Ще&nbsp;одну технологію, використовує KingKong-Tools для захисту інструментів від зносу 	&mdash; це&nbsp;технологія PLA (плазмове лазерне наплавлення).
						p Ця&nbsp;технологія використовується для створення зварювальної ванни на&nbsp;поверхні інструменту. Певна кількість металевого порошку вводиться в&nbsp;цю&nbsp;зварювальну ванну через сопло, внаслідок чого зварні шви можуть мати практично будь-яку бажану форму. Завдяки такій гнучкості в&nbsp;застосуванні захисту від зносу різальні кромки та&nbsp;сталеві корпуси наших інструментів оптимально та&nbsp;ефективно захищені від зносу. У&nbsp;3D-лазері використовується особливий виробничий процес, який дозволяє створювати аплікації з&nbsp;металевих матеріалів у&nbsp;наявних інструментах, начебто вони були відливанням.
						p І&nbsp;це&nbsp;без втрати якості, щільно та&nbsp;без тріщин. В&nbsp;результаті лазерне наплавлення забезпечує відмінний захист від зносу, водночас зберігаючи агресивну різальну дію наших лезових інструментів.
				+e.foot
					+e.f-btn-cont.text-end
						+e.f-btn(href="#") до магазину
					+e.f-txt.text-center Інструменти KingKong-Tools – правильний вибір для надійної роботи!
	// end sProdCard

mixin sProdCardTabContent(imgNum, addClasses='')
	+e.t-contetn.tabs__content(class=addClasses)
		+e.t-row.row
			.col-lg-4
				+e.img-box
					img(loading="lazy" src=`img/@2x/sProdCard-tabs-${imgNum}.jpg` alt="")
			+e.tabs-txt.col-lg-8
				block

mixin sProdCardSlide(imgNum)
	.swiper-slide
		+e.img
			img(loading="lazy" src=`img/@2x/sProdCard-${imgNum}.jpg` alt="")