// start sProdCard
.sProdCard {
	--sPT: #{rem(15)};
	--sPB: #{rem(15)};
	--sTPB: #{rem(15)};
	@include media-breakpoint-up(sm){
		--sPT: #{rem(60)};
		--sPB: #{rem(60)};
		--sTPB: #{rem(60)};
	}

	.container{
		@include media-breakpoint-between(md, lg){
			//max-width: 714px;
		}
	}

	font-size: rem(13);
	@include media-breakpoint-up(md){
		font-size: rem(18);
	}

	@include media-breakpoint-up(lg){
		--sPT: #{rem(60)};
		--sPB: #{rem(60)};
		--sTPB: #{rem(60)};
	}

	.section-title{
		& > *:last-child{
			margin-bottom: 0;
		}

		h1{
			font-weight: bold;

			font-size: rem(24);
			line-height: calc(28/24);
			@include media-breakpoint-up(md){
				font-size: rem(36);
				line-height: calc(43/36);
			}
			color: rgba(#31302C, .85);
		}
	}

	&__row{
		--bs-gutter-x: #{rem(15)};
		--bs-gutter-y: #{rem(15)};
		@include media-breakpoint-up(md){
			--bs-gutter-x: #{rem(30)};
			--bs-gutter-y: #{rem(30)};
		}

		margin-bottom: var(--bs-gutter-y);
	}
	&__slider-wrap{

		@include media-breakpoint-between(md,lg){
			position: relative;
			margin: 0 -20px 0 rem(-18);
		}

		.swiper{

		}
		.swiper-wrapper{
			margin-bottom: rem(3);
		}
		.swiper-slide{
			height: auto;
		}
	}

	&__img{
		@extend .accept-ratio-frame;

		padding-top: calc(200/249 * 100%);
		@include media-breakpoint-up(lg){
			padding-top: calc(358/444 * 100%);
		}
	}
	&__txt-col{
		@include media-breakpoint-between(md,lg){
			padding-left: calc(var(--bs-gutter-x) / 2 + 18px);
		}

		p{
			margin-bottom: rem(15);
			@include media-breakpoint-up(md){
				margin-bottom: rem(30);
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__descr{
		margin-bottom: rem(15);
		@include media-breakpoint-up(md){
			margin-bottom: rem(60);
		}

		p{
			margin-bottom: rem(15);
			@include media-breakpoint-up(md){
				margin-bottom: rem(30);
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	//tabs
	&__tabs{

	}
	//&__caption-row{}
	&__caption-row{
		margin-bottom: rem(23);
		@include media-breakpoint-up(md){
			margin-bottom: rem(60);
		}
		@include media-breakpoint-up(xl){
			margin: 0 auto rem(69px);
			max-width: 1024px;
		}

		--bs-gutter-x: 0;

		position: relative;
		z-index: 1;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;

			width: 150vw;
			height: 100%;
			left: -50vw;
			top: 0;
			box-shadow: 0px 0px 25px rgba(112, 96, 88, 0.01), 0px 0px 40px rgba(112, 96, 88, 0.01);
		}
	}
	&__c-col{
		padding: rem(44) 0 rem(27);
		@include media-breakpoint-up(md){
			padding: 24px 13px;
		}
		@include media-breakpoint-up(xl){
			padding: rem(54) rem(50) rem(43);
		}

		border-right: 1px solid rgba(0, 0, 0, 0.1);
		&:last-child{
			border-right: none;
		}

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	&__tabs-btn{
		text-align: center;

		font-size: rem(11);
		@include media-breakpoint-up(md){
			font-size: rem(16);
		}

		font-weight: 500;
		color: $body-color;
		&.active{
			color: rgba($secondary, .85);
			text-shadow: 0 0 0.7px rgba($secondary, .85);
		}
	}
	&__t-wrap{
		margin-bottom: rem(15);
		@include media-breakpoint-up(md){
			margin-bottom: rem(60);
		}
	}
	&__t-contetn{

	}
	&__t-row{
		--bs-gutter-x: #{rem(15)};
		--bs-gutter-y: #{rem(15)};
		@include media-breakpoint-up(md){
			--bs-gutter-x: #{rem(30)};
			--bs-gutter-y: #{rem(30)};
		}
	}
	&__img-box{
		margin: 0 auto;
		width: 100%;
		max-width: rem(350);
		overflow: hidden;
		border-radius: rem(15);

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__tabs-txt{
		p{
			margin-bottom: rem(15);
			@include media-breakpoint-up(md){
				margin-bottom: rem(30);
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__foot{

	}
	&__f-btn-cont{
		margin-bottom: rem(15);
		@include media-breakpoint-up(md){
			margin-bottom: rem(60);
		}
	}
	&__f-btn{
		@extend .btn-default;
		min-width: rem(206);
	}
	&__f-txt{
		font-weight: 600;
	}
	//
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sProdCard