mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+pic('mainBg.jpeg','bg')(class="picture-bg")
		.container
			+b.section-title
				h1 Ми знаємо ВСЕ про корчування!

						
	// end headerBlock