// start .sProducts
.sProducts {
		--sPT: #{rem(80)};
		// --sPB: ;
		// --sTPB: ;


	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProducts

.prodCard {
	margin-bottom: rem(30);
	width: 100%;
	min-height: rem(180);
	@include media-breakpoint-up(sm) {
		min-height: rem(310);
	}
	margin-bottom: rem(30);
	height: calc(100% - #{rem(30)});
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
	border-radius: rem(10);

	&__inner {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: rem(10);
	}

	.picture-bg {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__logo {
		position: relative;
		z-index: 2;
		position: absolute;
		@include a-cent;
		display: grid;
		place-items: center;
		overflow: hidden;
		@include mt;

		img {
			max-width: rem(186);
			max-height: rem(102);
			@include media-breakpoint-up(sm) {
				max-width: rem(351);
				max-height: rem(178);
			}
		}

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 241, 235, 0.75);
		}
	}

	&__youtube {
		position: absolute;
		z-index: 10;
		right: rem(20);
		top: rem(20);
		opacity: 0;

		&:hover {
			transform: scale(1.05);
		}

		.icon {
			font-size: rem(35);
			color: #D7143A;
		}
	}

	&__hidden {
		margin-top: auto;
		z-index: 2;
		color: #000000;
	}

	&__bg {
		position: relative;
	}

	&__txtWrap {
		position: relative;
		z-index: 10;
		display: flex;
		align-items: center;
		will-change: transform;
		background: rgba(255, 255, 255, 0.85);
		box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25), inset -16px -16px 14px rgba(0, 0, 0, 0.25), inset -28px -28px 54px rgba(0, 0, 0, 0.24), inset 28px 28px 54px rgba(255, 255, 255, 0.6), inset 6px 6px 16px rgba(255, 255, 255, 0.85);
		padding: rem(11) rem(15) rem(17) rem(25);
		display: flex;
		align-items: center;
		border-radius: 0px 0px 10px 10px;
		opacity: 0;
		@include mt;
		transition-property: all;
		// transition-duration: .3s;
		// transition-delay: .3s;

		@include media-breakpoint-down(sm) {
			flex-direction: column;
			height: 100%;
		}
	}

	&__title {
		font-size: $small;
		font-weight: 600;
		margin-bottom: rem(3);
	}

	&__txt {
		font-size: rem(13);
		font-weight: 500;
	}

	&__link {
		align-self: flex-end;
		font-size: $small;
		font-weight: 600;
		margin-left: rem(5);
		@include media-breakpoint-down(sm) {
			margin-top: auto;
		}
	}


	&:hover, &:focus {
		.prodCard__logo {
			opacity: 0;
		}

		.prodCard__youtube, .prodCard__txtWrap {
			opacity: 1;
		}
	}
}