mixin sProducts(data)
	// start sProducts
	+b.sProducts.section#sProducts&attributes(attributes)
		.container
			.row
				mixin item(i,title,t)
					.col-lg-6
						+b.prodCard
							+e.inner
								+pic(`prod-${i}.jpg`,'','')(class="picture-bg")
								+e.logo
									+pic(`logo-${i}.png`,'','')
								+e.hidden
									+e.youtube(href='https://www.youtube.com/c/%D0%90%D0%BB%D0%BB%D1%8E%D1%80%D0%90%D0%B3%D1%80%D0%BE' target="_blank")
										+icon('youtube')
									+e.txtWrap 
										div
											+e.title!= title 
											+e.txt!= t 
										+e.link(href='#' target="_blank") Детально

				+item(1,'Техніка Picursa.',`Іспанські мульчувачі, ротоватори, дробарки&nbsp;&mdash; призначені для сільськогосподарських, лісних і&nbsp;промислових робіт.`)
				+item(2,`Молотки KingKong-Tools.`,`Молотки та&nbsp;зубці німецької якості, для всіх моделей мульчувачів, щеподробарок, дорожніх фрез.`)
				+item(3,`Техніка Valentini`,`Італійські мульчувачі, культиватори, траншеєкопачі, каменедробарки`)
				+item(4,`Аллюр-Агро.`,`OpenBag клапан-дозатор для розтарювання мішків Big-Beg. Виробництво компанії Аллюр-Агро.`)
	// end sProducts