extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sProducts/_sProducts.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sTrust/_sTrust.pug
include ../blocks/sInNumber/_sInNumber.pug
include ../blocks/sQuestion/_sQuestion.pug
include ../blocks/sServ/_sServ.pug
include ../blocks/sLook/_sLook.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOpenBag/_sOpenBag.pug

block variables
	- let  mainPage= null
	//- let  bg= '07-320.jpg'
	//- let  bg= '03-1-768.png'
	//- let  bg= '03-1-320.png'

block title
	- let  title= '07-open-bag'
	title= title
block pagecontent
	mixin mnu()
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			li.menu-item(temprop="item" itemprop="url"): a(href="/" itemprop="url") Головна
			li.menu-item.menu-item--has-children(itemprop="item" )
				a(href="#" itemprop="url") Каталог
				ul.sub-menu
					li.menu-item(temprop="item"): a(href="#" itemprop="url") Мульчеры
					li.menu-item(temprop="item"): a(href="#" itemprop="url") Молотки, зубья
					li.menu-item(temprop="item"): a(href="#" itemprop="url") Растареватель OpenBag
					li.menu-item(temprop="item"): a(href="#" itemprop="url") Техника б/у
					
					| То есть, по своей сути, «золотым уровнем доверия» помечаются «классические» обучающие курсы/программы от нашего издательства. Те курсы, тренинги, мультикурсы, которые вы и раньше приобретали у нас и которые, собственно, завоевали для нашего издательства столь высокую репутацию!sd
					| «Золотая метка» означает, что тема данного курса не вызывает этических нареканий со стороны большинства членов редколлегии, а вероятность положительного результата от обучения/применения данных знаний, методик, программ (при неукоснительном соблюдении всех инструкций автора) находится в районе 80%.

			li.menu-item.menu-item--has-children.active(temprop="item" itemprop="url")
				a(href="#" itemprop="url") Послуги
				ul.sub-menu
					li.menu-item(temprop="item"): a(href="#" itemprop="url") Корчевание мульчером
					li.menu-item(temprop="item"): a(href="#" itemprop="url") Ремонт мульчера
			li.menu-item(temprop="item" itemprop="url"): a(href="#" itemprop="url") Інформація
			li.menu-item(temprop="item" itemprop="url"): a(href="#" itemprop="url") Лізинг
			li.menu-item(temprop="item" itemprop="url"): a(href="#" itemprop="url") Контакти
	+mob-mnu()
	+header()
		+top-nav2()
	+sOpenBag()
	+footer()