extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sProducts/_sProducts.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sTrust/_sTrust.pug
include ../blocks/sInNumber/_sInNumber.pug
include ../blocks/sQuestion/_sQuestion.pug

block variables
	- let  mainPage= 'main-page' 
	//- - let  bg= 'main.jpg'
	- let  bg= 'Tablet_main.jpg'
	//- - let  bg= 'Mobile_main.jpg'

block title
	- let  title= 'Аллюр-агро'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	//- +topLine()
	+headerBlock()
	+sProducts()
	+sServices()
	+sAbout()
	+sAdvantages()
	+b.sWrap 
		+pic('field.jpg')(class="picture-bg")
		+sInNumber()
		+sTrust()
	+sQuestion()
	+footer()
      



