extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sProducts/_sProducts.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sTrust/_sTrust.pug
include ../blocks/sInNumber/_sInNumber.pug
include ../blocks/sQuestion/_sQuestion.pug

block variables
	- let  mainPage= 'main-page' 
	//- - let  bg= 'main.jpg'
	- let  bg= 'Tablet_main.jpg'
	//- - let  bg= 'Mobile_main.jpg'

block title
	- let  title= 'Аллюр-агро'
	title= title
block pagecontent
	mixin mnu()

		+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item.active( temprop="item" itemprop="url"): +e.A.link(href="/" itemprop="url") Головна
			+e.LI.item--has-children( itemprop="item" )
				+e.A.link(href="#" itemprop="url") Каталог
				+b.UL.sub-menu
					+e.LI.item( temprop="item"  ): +e.A.link(href="#" itemprop="url") Мульчеры
					+e.LI.item( temprop="item"  ): +e.A.link(href="#" itemprop="url") Молотки, зубья
					+e.LI.item( temprop="item"  ): +e.A.link(href="#" itemprop="url") Растареватель OpenBag
					+e.LI.item( temprop="item"  ): +e.A.link(href="#" itemprop="url") Техника б/у
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="#" itemprop="url") Послуги
				+b.UL.sub-menu
					+e.LI.item( temprop="item"  ): +e.A.link(href="#" itemprop="url") Корчевание мульчером
					+e.LI.item( temprop="item"  ): +e.A.link(href="#" itemprop="url") Ремонт мульчера
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="#" itemprop="url") Інформація
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="#" itemprop="url") Контакти
	+mob-mnu()
	+header()
		+top-nav()
	//- +topLine()
	+headerBlock()
	+sProducts()
	+sServices()
	+sAbout()
	+sAdvantages()
	+b.sWrap 
		+pic('field.jpg')(class="picture-bg")
		+sInNumber()
		+sTrust()
	+sQuestion()
	+footer()
      



