// start .sContent
.sContent {
	//--sPT: ;
	//--sPB: ;
	//--sTPB: ;

	h1, .h1 {
		@extend .h2;
	}

	h3, .h3 {
		padding-bottom: var(--pb);
	}

	&__btn {
		max-width: rem(160);
	}

	.btn {
		padding: rem(7) rem(10);
		font-size: rem(13);
		min-height: rem(60);
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	&__buttons {
		text-align: center;
		padding-bottom: var(--pb);
		--bs-gutter-y: #{rem(10)};
		@include media-breakpoint-down(lg) {
			--bs-gutter-x: #{rem(10)};
		}
	}

	p {
		margin-bottom: var(--mb);
	}

	&__imgWrap {
		border-radius: 0 rem(30) rem(30) 0;
		overflow: hidden;
		@include block(320, 347);
		max-width: rem(350);
		margin-left: auto;
		margin-right: auto;

		img {
			@include a-cent();
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	blockquote {
		padding: rem(20);
		border-radius: $btn-border-radius-lg;
	}

	&__columslist {
		@include media-breakpoint-up(md) {
			columns: 2;
			column-gap: rem(40);
		}
		@include media-breakpoint-up(xl) {
			column-gap: rem(220);
		}
	}

	ul {
		padding-left: rem(20);

		li {
			padding-bottom: rem(10);
			@include media-breakpoint-up(md) {
			padding-left: rem(15);
			}
		}
	}


	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}

}

// end.sContent