mixin sInfo(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		.container
			+b.section-title
				h1 Сільгосптехніка в лізинг
			p Аграрні технології постійно розвиваються, а&nbsp;значить, що&nbsp;регулярне оновлення парку сучасною технікою потребує вільних коштів. Лізинг допоможе придбати необхідну сільгосптехніку.
			p Лізинг&mdash; це&nbsp;та&nbsp;ж оренда, але з&nbsp;правом викупу. Ви&nbsp;зможете експлуатувати потрібне вам обладнання і&nbsp;техніку протягом певного періоду часу за&nbsp;певну плату. Після повного &laquo;погашення&raquo; вартості обладнання ви&nbsp;стаєте повноправним його власником. При цьому заставою угоди виступає саме устаткування.
			p Пропонуємо техніку в лізинг.
			+e.slider-wrap
				.swiper.sInfo-slider-js
					.swiper-wrapper
						-for(i = 1; i < 7; i++)
							+sInfoSlide(i)
					.swiper-pagination
				+e.P.slide-text.text-center.text-secondary Всього під&nbsp;1% річних! Термін фінансування 12&nbsp;міс, при умові передплати&nbsp;30%
			h3 Переваги фінансового лізингу
			ul.check-list
				li Виплати здійснюються в&nbsp;національній валюті 	&mdash; відсутність валютних ризиків.
				li Відсутність додаткових платежів протягом всього періоду лізингу та&nbsp;додаткових застав.
				li Банк відповідає за оформлення, реєстрацію та страхування об'єкту лізингу.
				li Розрахований графік погашення лізингових платежів дозволяє планувати поточні та&nbsp;майбутні витрати.
				li Індивідуальний підхід до&nbsp;вашого бізнесу.
				li Лояльний підхід до&nbsp;оцінки ризику клієнта та&nbsp;оперативне прийняття рішення (в&nbsp;межах 1-го дня).
				li Скорочення витрат оборотних коштів за&nbsp;рахунок невеликого первісного платежу і&nbsp;розтягнутих по&nbsp;місяцях внесків.
				li Транспорт&nbsp;/ обладнання ставиться на&nbsp;баланс лізингоодержувача, на&nbsp;нього нараховується амортизація, зменшуючи базу для нарахування податку на&nbsp;прибуток.
				li ПДВ від вартості транспорту&nbsp;/ обладнання відноситься на&nbsp;податковий кредит.

	// end sInfo

mixin sInfoSlide(imgNum)
	.swiper-slide
		+e.img-box(src=`img/@2x/sInfo-${imgNum}.jpg` data-fancybox="photo")
			img(loading="lazy" src=`img/@2x/sInfo-${imgNum}.jpg` alt="")