mixin sLook(data)
	// start sLook
	+b.SECTION.sLook.section#sLook&attributes(attributes)
		//can put content into upper tabs
		.container
			+e.row.row.align-items-center
				+e.col--left.col-lg-6
					+b.section-title
						h2 Відеоогляд роботи поверхневого мульчера Picursa Fighter
						+b.video-link.d-lg-none(href='#')
							img(loading="lazy" src="img/@2x/sLook-1.png" alt="")
						p Сподобався мульчер? Ви маєте додаткові питання? Залиште ваш номер телефону і наш менеджер вам&nbsp;зателефонує.
					.text-center.text-lg-start
						+e.btn(href="#") Замовити дзвінок
				.col-lg-6.d-none.d-lg-flex
					+b.video-link(href='#')
						img(loading="lazy" src="img/@2x/sLook-1.png" alt="")
			+e.txt-row.row
				+sLookTxtBox()
					+e.descr Корчування мульчером&nbsp;&mdash; це&nbsp;сучасний, ефективний та&nbsp;екологічний спосіб обробки землі. Позбавляє від негативних наслідків спалювання корчів, використання хімічних реагентів, залучення важкої техніки, утилізації пнів.
					+e.bold Корчуйте правильно&nbsp;&mdash; корчуйте з&nbsp;Picursa!
				+sLookTxtBox()
					+e.title Вас також може зацікавити
					+e.links
						ul
							li: a(href="#") Як&nbsp;правильно обрати мульчер?
							li: a(href="#") Мульчер-ротоватор серії Hammer-S
							li: a(href="#") Лісовий мульчер на&nbsp;трактор поверхневий від ВВП
							li: a(href="#") Подрібнювач з&nbsp;гідравлічної &laquo;рукою&raquo; Multi Medium
							li: a(href="#") Мульчер для екскаватору
	// end sLook

mixin sLookTxtBox()
	.col-lg-6
		+e.box
			block