// start sCatalog
.sCatalog {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;


	@include media-breakpoint-up(md) {
		 --sTPB: #{rem(62)};
	}

	&__col {
		display: flex;
		align-items: center;
		padding-bottom: rem(35);

		.icon {
			flex-shrink: 0;
			font-size: rem(60);
			color: $primary;
			margin-right: rem(60);
		}

		&:nth-child(odd) {
			@include media-breakpoint-up(xl) {
				.icon {
					margin-left: rem(60);
				}
			}
		}
	}

	&__row {
		padding-top: rem(40);
		padding-bottom: rem(60);
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(50)};
		}
	}

	ul {
		list-style: none;

		li {
			padding-bottom: rem(15);
		}
	}

	p {
		margin-bottom: rem(15);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
		}
	}

	&__imgWrap {
		border-radius: rem(30);
		box-shadow: 10px 10px 35px rgba(112, 96, 88, 0.35);
		overflow: hidden;
	}


	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}

	&--valentini {
		.sCatalog__imgWrap {
				margin-top: rem(20);
			@include media-breakpoint-up(md) {
				margin-top: rem(60);
			}
		}
	}
}

// end.sCatalog

.tableBlock {
	margin-left: auto;
	margin-right: auto;
	max-width: rem(920);
	--item-margin: #{rem(10px)};
	--table-padding: #{rem(10)};
	@include media-breakpoint-up(sm) {
		--table-padding: #{rem(20)};
	}
	@include media-breakpoint-up(md) {
		--table-padding: #{rem(23)} #{rem(60)};
		--item-margin: #{rem(20px)};
	}

	@include media-breakpoint-down(sm) {
		* {
			font-size: 12px;
		}
	}
	&__headRow, &__body {
		@include media-breakpoint-down(sm) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__txtCol {
		word-break: break-word;
	}

	&__headText {
		padding-bottom: rem(15);
	}

	&__headRow {
		background: rgba(112, 96, 88, 0.85);
		border-radius: rem(10);
		padding: var(--table-padding);
		margin-bottom: var(--item-margin);

		* {
			color: $white;
		}
	}

	.row {
		@include media-breakpoint-down(sm) {
			--bs-gutter-x: #{rem(10px)};
		}
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(63px)};
		}
	}

	&__body {
		margin-bottom: var(--item-margin);
		padding: var(--table-padding);

		&.total {
			--item-margin: 0;

			@include media-breakpoint-down(md) {
				--table-padding: 0;
			}
			@include media-breakpoint-down(lg) {
				text-align: right;
			}
		}
	}

	&__linkWrap {
		text-align: right;
		font-weight: 500;
		padding: rem(3);

		&:not(:last-child) {
			padding-bottom: rem(7);
		}
	}

	&__body {
		box-shadow: 0 3px 10px rgba(112, 96, 88, 0.07);
		border-radius: 10px;

		&.last-item {
			@include media-breakpoint-down(lg) {
				box-shadow: none;
				border-radius: 0;
			}
		}
	}

	&__download {
		color: $body-color;

		.icon {
			font-size: rem(15);
		}

		&:hover {
			color: $primary;
		}
	}

	&__total {
		color: $secondary;
		@include rfs(#{rem(24)});
		font-weight: bold;
	}

	&__btn {
		@include media-breakpoint-down(md) {
			width: 100% ;
		}
	}
}