mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title
				h2 Мульчери Picursa

			p Trituradoras Picursa&nbsp;&mdash; одна із&nbsp;провідних виробничих європейських компаній. Більш ніж 25&nbsp;років спеціалізується на&nbsp;виробництві всіх типів мульчувачів для сільського та&nbsp;лісового господарств, промислового садівництва і&nbsp;громадських робіт.
			p Компанія &laquo;Аллюр-Агро&raquo;&nbsp;&mdash; ексклюзивний представник компанії Picursa на&nbsp;території України. Постачаємо та&nbsp;надаємо повний спектр послуг:
			+e.row.row
				mixin col(i, t)
					+e.col.col-md-6
						+e.iconWrap
							+icon(`catalog-icon-${i}`)
						span!= t
				+col('1',`Підбір мульчувача`)
				+col('2',`Гарантійне і&nbsp;післягарантійне обслуговування`)
				+col('3',`Запуск і&nbsp;навчання на&nbsp;території замовника`)
				+col('4','Інформаційна підтримка')
			p На&nbsp;наших сторінках ви&nbsp;знайдете мульчувачі поверхневі (лісові), ротоватори із&nbsp;заглиблення, мульчувачі для саду, до&nbsp;екскаваторі та&nbsp;до&nbsp;фронтального навантажувача
			.row.align-items-center.pb-3
				.col-lg-5
					+e.imgWrap
						+pic('catalog-1.jpg')
				.col
					p Дані моделі представлені на&nbsp;території України з&nbsp;2020&nbsp;року. За&nbsp;цей час зарекомендувала себе&nbsp;як:
					ul.list-style-none
						li &mdash;&nbsp;надійна техніка;
						li &mdash;&nbsp;економна в&nbsp;роботі, не&nbsp;перевантажує енергоносій;
						li &mdash;&nbsp;зносостійкі деталі, зроблені зі&nbsp;зносостійких сталей;
						li &mdash;&nbsp;використовує інноваційні технології та&nbsp;матеріали.
			p Наша команда постійно доопрацьовує, вдосконалює та&nbsp;адаптує техніку для грунту України.
			p Особливістю компанії є&nbsp;не&nbsp;масовий випуск продукції, а&nbsp;індивідуальний підхід до&nbsp;кожного клієнта, задоволення його потреби у&nbsp;надійній та&nbsp;ефективній техніки. Ми&nbsp;завжди в&nbsp;пошуках оптимальних рішень.
			+e.tableWrap
				strong Рекомендовані моделі
			+e.tableRow.row

				caption Рекомендовані моделі
				tr
					th Тип
					th Серія
					th
				mixin tr(t1, t2)


	// end sCatalog