
$h: rem(3);

.toggle-menu-mobile {
	display: block;
	height: $h* 13;
	position: relative;
	color: #31302C;
	font-size: 32px;
	width: 1em;
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0;
	@include media-breakpoint-up(md) {
		margin-right: rem(7);
	}
	
	&.on {
		color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 4;
	}

	span:after {
		bottom: $h * 4;
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		width: rem(35);
		height: $h;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
		transform-origin: 50% 50%;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		
	}

	&.on span:before {
		transform: rotate3d(0,0,1, 45deg);
	}

	&.on span:after {
		transform: rotate3d(0,0,1, -45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 100%;
	height: calc(var(--vh, 1vh) * 100);
	width: rem(768);
	top: 0;
	// left: 0;
	right: 0;
	background: rgba($color: #706058, $alpha: 0.9);

	&:not(.active){
		transform: translate3d(120%, 0,0);
		--opacity: 0;
	}

	@include mt(.6s);
	will-change: transform;

	&__inner {
		
		padding: rem(60) 0 rem(20);
		@include media-breakpoint-up(lg) {
			padding: rem(120) 0 rem(20);
		}
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		@include mt(.3s);
		transition-delay: .4s;
		opacity: var(--opacity);
	}

	&.active { 
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.sub-menu {
		a {
			font-size: 0.6em;
			padding: rem(10);
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-right: 4%;
		position: absolute;
		opacity: 0;
		right: 0;
		left: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		font-size: rem(28);

		a {
			text-align: right;
			line-height: 1;
			padding: rem(15);
			font-size: inherit;
			display: block;
		}
	}
}