.menu{
	@include media-breakpoint-up(lg) {

		display: flex;
		text-align: center;
		// @include roww(20px);
		flex-wrap: wrap;
	}

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li{
		padding: 0;
	}

	a{
		display: block;
		font-size: $small;
		padding: rem(20) rem(12);
		@include media-breakpoint-up(xl) {
			padding: rem(20) rem(16);
		}
		font-weight: 600;

		color: $light;
		@include media-breakpoint-up(lg) {
			color: $body-color;
		}

		&:hover {
			color: $secondary;
		}
	}
}