.top-nav {
	padding: rem(20) 0;
	@include media-breakpoint-up(lg) {
		padding: rem(30) 0;
	}
	font-size: $small;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	@include mt;

	&.fixed {
		position: fixed;
		padding: rem(0) 0;
		background: rgba($color: #fff, $alpha: 0.85);
		// filter: drop-shadow(7px 7px 25px rgba(112, 96, 88, 0.1)) drop-shadow(5px 5px 80px rgba(112, 96, 88, 0.03));
		box-shadow: 7px 7px 25px rgba(112, 96, 88, 0.1);

		.flyBlock {
			@include media-breakpoint-up(lg) {
				transform: scale(1, 0);
			}
		}
	}

	&__col {
		position: relative;
		padding: 0;
	}

	&__logo {
		display: inline-block;
		max-width: rem(160);
		@include media-breakpoint-up(lg) {
			margin-right: rem(10);
		}
		@include media-breakpoint-up(xl) {
			margin-right: rem(97);
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		font-weight: 500;
		@include media-breakpoint-up(xl) {
			margin-right: rem(10);
		}

		.icon {
			font-size: rem(17);
			margin-right: rem(9);
		}
	}

	@include media-breakpoint-up(xl) {
		.row {
			--bs-gutter-x: #{rem(22)};
		}
	}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(lg) {
		.row {
			--bs-gutter-x: #{rem(10)};
		}
	}
	@include media-breakpoint-down(xs) {}
}


.searchBlock {
	position: relative;

	&__hidden {
		position: absolute;
		top: calc(100% + #{rem(31)});
		right: 0;
		transform: scale(0);
		// display: none;
		@include mt;
		transform-origin: right top;
		visibility: hidden;
		
		&.active {
			visibility: visible;
			transform: scale(1);
		}
	}

	.form-wrap {
		&__input {
			width: rem(200);
			padding: 0.5rem 1rem;
		}

		&__btn {
			// position: absolute;
			right: rem(2px);
			// top: calc(100% + #{rem(20)});
			@include a-cent(y);
			padding: 0 rem(10);
			outline: none;
			border: none;
			background: #fff;
			height: 95%;

			.icon {
				font-size: rem(15);
			}
		}
	}

	&__toggle {
		cursor: pointer;
		border: none;
		padding: 0;
		background: transparent;

		.icon {
			@include mt;
			font-size: rem(15);
			transform-origin: bottom;
		}

		.icon-close {
			transform: scale(0, 1);
			width: 0;
		}

		.icon-search {
			transform: scale(1);
			width: rem(20);
		}

		&.active {
			.icon-close {
				transform: scale(1);
				width: rem(20);
			}

			.icon-search {
				transform: scale(0, 1);
				width: 0;
			}
		}
	}
}

.flyBlock {
	transform-origin: top;
	@include mt;
	display: flex;
	align-items: center;
	@include media-breakpoint-only(md) {
		@include roww(#{rem(20)});
		justify-content: center;
	}
	@include media-breakpoint-up(lg) {
		flex-direction: column;
		position: absolute;
		top: calc(100% + #{rem(13)});
		right: rem(0);
	}
	@include media-breakpoint-up(xl) {
		right: rem(17);
	}

	&__item {
		margin: rem(8) 0;

		&:hover {
			opacity: .7;
		}

		img {
			max-width: rem(30);
		}

		.svg {
			max-width: rem(25);
		}
	}
}