mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js(type="button")
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row.align-items-center
				.col.col-lg-auto 
					+e.logo(href="/")
						+pic('logo.png')
				.col.d-none.d-lg-block
					+mnu()
				.col-auto.top-nav__search-col
					+b.searchBlock 
						+e.hidden--js
							+form-wrap('inp')
								+input('','search')
								+e.btn(type="submit") 
									+icon('search')
						+e.toggle--js(type="button")
							+icon('search')
							+icon('close')
				.col-auto.d-none.d-md-block
					+e.phone(href='tel:+380977012400') 
						+icon('phone')
						span +38 097 701 2400
				+e.col.col-auto
					+flyBlock
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js(type="button")
						span
	// end top-nav

mixin top-nav2()
	// start top-nav
	+b.top-nav--alt.block-with-lazy
		.container
			.row.align-items-center
				.col.col-lg-auto
					+e.logo(href="/")
						+pic('logo.png')
				.col.d-none.d-lg-block
					+mnu()
				.col-auto.top-nav__search-col
					+b.searchBlock
						+e.hidden--js
							+form-wrap('inp')
								+input('','search')
								+e.btn(type="submit")
									+icon('search')
						+e.toggle--js(type="button")
							+icon('search')
							+icon('close')
				.col-auto.d-none.d-md-block
					+e.phone(href='tel:+380977012400')
						+icon('phone')
						span +38 097 701 2400
				//-+e.col.col-auto
					+flyBlock
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js(type="button")
						span

mixin flyBlock 
	+b.flyBlock&attributes(attributes)
		+e.item(href="#")
			+pic('ua.png').d-none
			+pic('ru.png')
		+e.item(href="https://www.facebook.com/alluragro.new/" target="_blank").d-none.d-md-block
			img.svg(src="img/svg/fb.svg", alt="Facebook" loading="lazy")
		+e.item(href="https://www.youtube.com/channel/UC4AzZrpZJS_dRZ3xIeKY_nw" target="_blank").d-none.d-md-block
			img.svg(src="img/svg/youtube.svg", alt="youtube" loading="lazy")