mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row.align-items-center
				.col.col-lg-auto 
					+e.logo(href="/")
						+pic('logo.png')
				.col.d-none.d-lg-block
					+mnu()
				.col-auto
					+b.searchBlock 
						+e.hidden--js
							+input('','search')
							+e.btn(type="submit") 
								+icon('search')
						+e.toggle--js
							+icon('search')
							+icon('close')
				.col-auto.d-none.d-md-block
					+e.phone(href='tel:+380977012400') 
						+icon('phone')
						span +38 097 701 2400
				+e.col.col-auto
					+flyBlock
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span

	// end top-nav

mixin flyBlock 
	+b.flyBlock&attributes(attributes)
		+e.item(href="#")
			+pic('ua.png')
			+pic('ru.png').d-none
		+e.item(href="#" target="_blank").d-none.d-md-block
			img.svg(src="img/svg/fb.svg", alt="Facebook" loading="lazy")
		+e.item(href="#" target="_blank").d-none.d-md-block
			img.svg(src="img/svg/youtube.svg", alt="youtube" loading="lazy")