// start .sTrust
.sTrust {
	// --sPT: ;
	--sPB: #{rem(80)};
	--sTPB: #{rem(50)};

	.row {
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(65)};
		}
	}


	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sTrust