mixin sTrust(data)
	// start sTrust
	+b.SECTION.sTrust.section#sTrust&attributes(attributes)
		.container
			+b.section-title
				h2 Нам довіряють
				
			.row.align-items-center
				mixin col(i)
					.col-6.text-center&attributes(attributes)
						+e.partner(href="#")
							+pic(`partner-${i}.png`)
				+col('1-new').col-lg
				+col(2).col-lg
				+col(3).col-lg
				+col(4).col-lg
	// end sTrust