// start .sTrust
.sTrust {
	--sPT: #{rem(12)};
	--sPB: #{rem(80)};
	--sTPB: #{rem(50)};

	.row {
		@include media-breakpoint-up(xl) {
			// --bs-gutter-x: #{rem(65)};
		}
	}

	&__partner {
		display: inline-block;
		margin-bottom: rem(10);

		img {
			max-height: rem(153);
		}
	}


	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sTrust