// start .sQuestion
.sQuestion {
	// --sPB: ;
	--sTPB: #{rem(45)};
	--sPT: #{rem(59)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(59)};
		--sTPB: #{rem(72)};
	}

	&__ {}
	&__ {}
	&__ {}
	&__ {}
	&__ {}
	&__ {}


	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sQuestion