//- WP menu
mixin mnu()
	-
		var nav= { 
			"Головна":"/",
			"Каталог":"#",
			"Послуги":"#",
			"Інформація":"#" ,
			"Лізинг":"#",
			"Контакти":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu